@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-table/src/Table.scss";
@import "../node_modules/bee-pagination/src/Pagination.scss";

$countLine-bg: #fffbf3;
//表头背景色
$table-head-bg: #ECEFF5;
//表体空白部分的背景色
$table-body-bg: #F6F6F6;
//分页按钮高亮颜色
$pagination-color:rgba(85,85,85,1);
//分页按钮颜色
$pagination-active-color:#E14C46;
// 页面背景色
$t-bgcolor: #f5f5f5;

.u-table {
  width: 100%;
}

// 没数据的时候，加上这个class，让header可以滚动
// .nc-table-header-scroll {
//   .u-table-content {
//     .u-table-scroll {
//       .u-table-header {
//         overflow: auto !important;
//         margin-bottom: 0px !important;
//       }
//       .u-table-body{
//         overflow-x:hidden !important;
//       }
//     }
//   }
// }
// .nc-table-no-header-scroll {
//   .u-table-content {
//     .u-table-scroll {
//       .u-table-header {
//         overflow: hidden !important;
//         margin-bottom: 0px !important;
//       }
//       .u-table-body{
//         overflow-x:hidden !important;
//       }
//     }
//   }
// }

//有数据，数据没有撑满表体的时候，空白部分加背景色
.nc-table-data {
  .u-table-content {
    background-color: $table-body-bg;
    .u-table-scroll {
      .u-table-body {
        background-color: $table-body-bg;
        .u-table-fixed {
          background-color: #fff;
        }
      }
    }
    .u-table-fixed-left {
      .u-table-body-outer {
        // background-color: $table-body-bg;
      }
    }
    .u-table-fixed-right {
      .u-table-body-outer {
        background-color: $table-body-bg;
        overflow-y: auto !important;
      }
    }
  }
}
.nc-table {
  .u-table-content {
    .u-table-body {
      .u-table-tbody {
        background-color: #fff;
      }
    }
  }
}
.u-table tr td a {
  color: #007ace;
}
.u-table tr td a:hover {
  color: #487ca8;
}
.u-table-content {
  position: relative;
  // min-height: 160px;
  // max-height: 400px;   //解决小屏幕产生双滚动条问题（加上这个，合计行滚动条没有了）
  // min-height:420px;  别加 给自己的table加，cardTable有个高度计算会被干扰。
  background-color: #fff;
  border-right: none;
  border-left: none;
  .u-table-bordered td,
  .u-table-bordered th {
    border-right: none;
  }
  .u-table-thead {
    tr {
      //border-bottom: none !important;
      border-bottom: 1px solid #d0d0d0;
      border-top: 1px solid #d0d0d0;
      th {
        height: 35px; //设置高为35  zhanghengh
        padding: 0 7px;
        vertical-align: middle;
        box-sizing: border-box;
        line-height: 17px;
        font-size: 13px;
        text-align: left;
        font-weight: normal;
        // color: rgba(17, 17, 17, 1); //修改表头字体颜色zhanghengh
        color: #4b4b4b;
        // background: rgba(243, 243, 243, 1); //增加背景颜色  zhanghengh
        background: $table-head-bg; //增加背景颜色  liuxi
        font-weight: bold;
      }
      th.table-opr {
        padding-left: 10px;
        padding-right: 20px;
      }
    }
  }
  .u-table-tbody {
    border: none !important;
    table-layout: fixed;
    word-break: break-all;
    tr:hover,
    .u-table-row-hover {
      background: rgba(243, 243, 243, 1); // 修改行背景颜色 zhanghengh
    }
    tr {
      //border-color: #d0d0d0;  //表格分割样式是加到td上的
      td {
        border-color: #d0d0d0; //表格分割样式是加到td上的，改到这里改动比较小
        height: 30px;
        padding: 0 7px;
        box-sizing: border-box;
        font-size: 13px;
        text-align: left;
        //color: rgba(85, 85, 85, 1); //修改表体字体颜色  zhanghengh
        color: #111;
        border-right: none;
        vertical-align: middle;
        .table-checkbox {
          display: block;
        }
        .u-table-expanded-row-spaced,
        .u-table-row-spaced {
          display: none;
        }
        .code-detail-link {
          color: #007ace;
          cursor: pointer;
        }

        .single-line-and-ellipsis {
          &:focus {
            outline-width: 2px;
          }
        }
      }

      .table-checkbox-class {
        .table-checkbox {
          // liuming修改
          // margin-left: 13px;
          width: 14px;
        }
      }
      .table-opr {
        padding-left: 12px;
        padding-right: 20px;
        font-size: 13px;
        color: #007ace !important;
        span:hover {
          color: #007ace;
          cursor: pointer;
        }
        a {
          text-decoration: none;
          &:hover {
            color: #007ace;
          }
        }
      }
    }
  }
  .u-table-placeholder {
    padding: 0px 0px;
    position: absolute;
    top: 53%;
    left: 50%;
    //不注释會挡住表头
    // transform: translate(-50%, -50%);
    min-height: auto;
    border: none;
    img {
      margin: 0 !important;
      width: 30%;
      margin: 30%;
    }
  }
  .u-table-scroll {
    .u-table-header {
      //此处注释掉的代码会引起操作列遮挡前面金额字段bug,IE上明显遮挡(谁要修改，请与我沟通renyjk)
      // overflow: hidden !important;
      // margin-bottom: 0 !important;
      // padding-bottom: 0 !important;
      //overflow-x: auto;
      // overflow: hidden !important;
      // margin-bottom: 0 !important;
      // padding-bottom: 0 !important;
    }
    // 空列表样式

    .u-table-footer {
      //合计行背景色变化
      background-color: $countLine-bg;
      padding: 12px 8px 12px 0px;
      .u-table-row-hover {
        background-color: $countLine-bg;
      }
      &:hover {
        background-color: $countLine-bg;
      }
      tr:hover {
        background-color: $countLine-bg;
        td:hover {
          background-color: $countLine-bg;
        }
      }
      div:hover {
        background-color: $countLine-bg;
      }
      .u-table {
        tr,
        td {
          height: 35px;
        }
        tr,
        tr:hover {
          background-color: $countLine-bg;
          td,
          td:hover {
            background-color: $countLine-bg;
          }
        }
        div,
        div:hover {
          background-color: $countLine-bg;
        }
      }
    }
  }
  .u-table-fixed-left {
    //zhanghengh  将表格左侧checkbox固定列垂直居中start
    .u-table-header {
      background: $table-head-bg; //更换表头背景颜色  liuxi
    }
    //zhanghengh  将表格左侧checkbox固定列垂直居中start
    box-shadow: none; //去掉左侧固定列的boeder阴影
  }
  .u-table-fixed-right {
    box-shadow: none; //去掉右侧固定列的boeder阴影
    //遮住body滚动条细线
    margin-right: 1px;
    .u-table-header {
      background-color: $table-head-bg; //更换表头背景颜色  liuxi
    }
    .u-table-body-outer {
      .u-table-body-inner {
        .u-table-fixed {
          background-color: #fff;
        }
        .u-table-tbody {
          tr {
            .table-opr {
              color: #007ace;
              span {
                span {
                  margin-right: 2px;
                }
                a {
                  margin-right: 12px;
                }
              }
            }
          }
          .cardTable-selected-row {
            background: rgba(235, 237, 242, 1);
            .table-checkbox-class,
            .table-opr {
              background: rgba(235, 237, 242, 1);
            }
            .table-opr {
              color: #007ace;
            }
          }
        }
      }
    }
  }
  .u-checkbox {
    .u-checkbox-label {
      vertical-align: top;
    }
    .u-checkbox-label:after,
    .u-checkbox-label:before {
      width: 14px;
      height: 14px;
      line-height: 16px;
    }
  }

  .no-data-placeholder {
    display: flex;
    align-items: center;
    .no-data {
      // background: url(../../static/images/nodata.png) center center / contain no-repeat;
      display: inline-block;
      height: 26px;
      width: 26px;
    }
    .no-data-title {
      // position: absolute;
      min-width: 60px;
      max-width: 85px;
      // top: 3px;
      padding-left: 8px;
      color: rgba(174, 174, 174, 1);
    }
  }
}
.IE-fix {
  .u-table-content .u-table-scroll .u-table-footer {
    padding: 12px 17px 12px 0px;
  }
  .fix-total-scroll {
    padding: -12px 17px -12px 0px;
  }
  .u-table-thead-th-drag-gap .online {
    height: 35px;
    background-color: #dfdfdf;
  }
}

/*合计行字体颜色*/
.total-row {
  /*合计不对齐问题*/
  margin: -12px 0px !important;
  .u-table-tbody {
    tr {
      td {
        color: #ff6100;
      }
    }
    td:nth-child(1) {
      color: #555555;
      text-align: center;
    }
  }
}

.total-table-wrapper {
  .u-table-content {
    min-height: 0 !important;
  }
  .total-row {
    .u-table-content {
      min-height: 0 !important;

      .u-table-body {
        overflow: auto !important;
      }
      //去掉合计行自带的下边框边框
      .u-table-row {
        td {
          border-bottom: none;
        }
      }
    }
  }
  .fix-total-scroll {
    padding: -12px 8px -12px 0px;
  }
}

.fixed-table-header {
  .u-table-placeholder {
    display: none;
  }
  .u-table-content {
    min-height: auto;
  }
}

.total-table-wrapper {
  > .u-table-content > .u-table-scroll > div:not(.u-table-footer) {
    min-height: 0 !important;
    > .u-table-body::-webkit-scrollbar-thumb:horizontal {
      // zhanghengh  先注释了
      //这里去掉合集行的chrom的滚动条先这样处理
      background-color: transparent !important;
    }
    //liuming ie双滚动条问题
    > .u-table-body {
      scrollbar-arrow-color: #f6f6f6;
      /*滚动条滑块按钮的颜色*/
      scrollbar-face-color: #f6f6f6;
      /*滚动条整体颜色*/
      scrollbar-highlight-color: #f6f6f6;
      /*滚动条阴影*/
      scrollbar-shadow-color: #f6f6f6;
      /*滚动条轨道颜色*/
      scrollbar-track-color: #f6f6f6;
    }
  }
  .total-row {
    .u-table-content {
      min-height: 0 !important;
      .u-table-body::-webkit-scrollbar {
        //这里去掉合集行的chrom的滚动条先这样处理
        display: block;
        height: 8px;
      }
      .u-table-body {
        overflow: auto !important;
      }
      ::-webkit-scrollbar-thumb {
        background: #d5d5d5 !important;
        border-radius: 5px;
      }
      //去掉合计行自带的下边框边框
      .u-table-row {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

/*解决主子表有合计行滚动条的bug*/
.total-table-wrapper > .u-table-content > .u-table-scroll > .u-table-footer {
  .u-table .u-table-content .u-table-scroll .u-table-body {
    scrollbar-arrow-color: rgba(205, 205, 205, 1);
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: rgba(205, 205, 205, 1);
    /*滚动条整体颜色*/
    scrollbar-highlight-color: rgba(205, 205, 205, 1);
    /*滚动条阴影*/
    scrollbar-shadow-color: rgba(205, 205, 205, 1);
    /*滚动条轨道颜色*/
    scrollbar-track-color: rgba(255, 255, 255, 1);
  }
}
.fixed-table-header {
  .u-table-placeholder {
    display: none;
  }
  .u-table-content {
    min-height: auto;
  }
}
//表头右边框
// .border-table-head-wrapper {
//   .u-table-content {
//     .u-table-thead {
//       tr {
//         th {
//           border-right: 1px solid #ECEFF5;
//         }
//       }
//     }
//   }
// }
.table-checkbox-classu-table-row-fixed-columns-in-body {
  display: none;
  pointer-events: none;
}
.u-table tr {
  transition: none !important;
}
.nc-drag-border {
  thead {
    th {
      position: relative;
    }
  }
}
.u-table {
  .u-table-thead-th-drag-gap:hover .online {
    background-color: #3291ea;
    width: 5px;
    height: 25px;
    margin: 5px auto;
  }
  .u-table-thead-th-drag-gap .online {
    background-color: #d2daea;
    width: 1px;
    height: 15px;
    margin: 10px auto;
  }
  .u-table-thead th .bee-table-column-sorter {
    vertical-align: bottom;
  }
  .u-table-thead th .bee-table-column-sorter .bee-table-column-sorter-flat .uf.uf-symlist {
    display: none;
    color: #000;
  }
  .u-table-thead th span:hover .bee-table-column-sorter .bee-table-column-sorter-flat .uf.uf-symlist {
    display: inline;
  }
  //滚动条右下角颜色
  .u-table-body::-webkit-scrollbar-corner {
    background-color: #f6f6f6;
  }
  .u-table-body-inner::-webkit-scrollbar-corner {
    background-color: #f6f6f6;
  }
}
/**********右击面板***********/
.react-contextmenu {
  padding: 12px 0;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  border: 1px solid #d9d9d9;
  border-radius: 3px;

  // 面板item
  .react-contextmenu-item {
    cursor: pointer;
    line-height: 38px;
    height: 38px;
    margin: 0;
    padding: 0 10px;
    &:hover {
      background: #e6f7ff;
    }
  }
  .react-contextmenu-item--selected {
  }
}
.NC_PaginationStyle {
	li {
		box-sizing: border-box !important; //将这里样式优先级最高
		margin-left: 8px;
		min-width: 28px;
		width:auto;
		height: 28px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #d0d0d0; //根据ue图修改
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		line-height: 26px;
		color: $pagination-color;
		background: #fff;
		cursor: pointer;
		&:hover {
			a {
				color: $pagination-active-color !important;
			}
		}
		&:disabled{
			a {
				&:hover {
					color: $pagination-color;
				}
			}
		}
		&.active {
			border-color: $pagination-active-color;
			a {
				color: $pagination-active-color !important;
			}
		}
		a {
			margin: 0 !important;
			padding: 0 !important; //提高优先级
			border: none !important;
			font-size: 12px;
			-webkit-box-sizing: border-box;
			box-sizing: content-box;
			text-align: center;
			background-color: #fff !important;
			display: inline-block;
			min-width: 26px;
			width:auto;
			height: 26px;
			float: left;
			margin-top: 1px;
			line-height: 26px !important; //提高优先级
			border-radius: 4px;
			color: $pagination-color; //根据ue图修改
			span{
				height: 26px;
				line-height: 24px;
				display: inline-block;
				vertical-align: top;
			}
			&:hover {
				color: $pagination-active-color !important;
			}
		}
		
	}
}
//SimpleTable
.lightapp-component-simpleTable {
  .simpleTable-component-paginationDiv {
    height: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 0 0 3px 3px;
    padding: 0px 20px;
    z-index: 10;
    border-top: 1px solid #e4e4e4;
    .page-size{
      float: left;
      margin-top: 5px;
    }
    .NC_PaginationStyle{
      float: right;
    }
  }
  .simpleTable-selected-row {
    background: #E4E4E4;
  }
}
//CardTable
.lightapp-component-cardTable {
  &.lightapp-component-cardTable-close {
    padding: 2px 8px 0 8px;
    .light-tabs {
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      background: #fff;
      position: relative;
      z-index: 10;
      .light-tabs-header .light-tabs-angle .table-tabs-icon:before {
        left: 12px;
      }
    }
  }
}
.light-tabs-header {
  height: 40px;
  padding-left: 12px;
  padding-right: 20px;
  .light-tabs-angle {
    height: 100%;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: #292e35;
    padding-left: 11px;
    .table-tabs-icon {
      font-family: "uf";
      display: inline-block;
      &:before {
        position: absolute;
        top: 10px;
        left: 20px;
        color: #555;
        font-size: 13px;
      }
    }
  }
  .tabs-wraps > li{
    a {
      line-height: 40px;
      color: #555;
      display: block;
      height: 38px;
    }
  }
  .tabs-operation {
    .iconfont {
      font-family: 'uf';
    }
    .icon {
      font-size: 18px;
      color: #555;
      cursor: pointer;
      width: 30px;
      height: 38px;
      margin: 0 0 0 6px;
      border-radius: 3px;
      line-height: 38px;
      padding: 4px;
      box-shadow: 0 1px 1px 0 hsla(0,0%,81.6%,.5);
      border: 1px solid #d0d0d0;
    }
  }
  .tabs-config {
    line-height: 38px;
  }
}

.card-table-max.scaleFromOrigin {
  visibility: visible;
  background: rgba(0,0,0,.3);
}
.card-table-max {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210;
  visibility: hidden;
  width: 100%;
  height: 100%;

  .light-tabs {
    background-color: #eceff1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px 34px 4px;
    .light-tabs-background {
      height: 100%;
      background: #fff;
    }
    .light-tabs-content {
      .u-table {
        .u-table-content {
          .u-table-expanded-row {
            background: #fff;
          }
        }
      }
    }
    .light-tabs-header {
      background: #fff;
      padding: 0 20px;
      .light-tabs-angle {
        position: relative;
        .table-tabs-icon {
          &::before {
            left: 0px;
          }
        }
      }
    }
    .lightapp-component-cardTable-view {
      position: absolute;
      background-color: #fff;
      z-index: 20;
      overflow-y: auto;
    }
  }
  > div {
    height: 100%;
  }
  .card-table-edit-td {
    .iconfont {
      display: none;
      font-weight: normal;
      color: #058ae5;
      font-size: 13px;
    }
  }
  .card-table-edit-td:hover {
    > div {
      display: flex;
      align-items: center;
    }
    .text-left {
      justify-content: flex-end;
    }
    .iconfont {
      display: inline-block;
      padding-left: 3px;
      font-weight: normal;
      color: #058ae5;
      font-size: 13px;
    }
  }
  .cardTable-view-item {
    background-color: #fff;
    .expanded-row-item {
      width: 50%;
      margin-top: 8px;
      display: flex;
      align-items: center;
      font-size: 14px;
      display: inline-block;
      .expanded-row-item-label {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
        line-height: 14px;
        padding-right: 20px;
        text-align: right;
        box-sizing: border-box;
        color: rgba(85, 85, 85, 1);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        .expanded-row-item-label-colon {
          position: absolute;
          left: 125px;
        }
      }
      .expanded-row-item-control {
        width: calc(100% - 140px);
        text-align: left;
        padding-right: 8px;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #111111;
        display: inline-block;
        vertical-align: middle;
        .expanded-row-item-control-wrapper {
          height: 28px;
          line-height: 14px;
          vertical-align: middle;
          white-space: normal;
          word-wrap: break-word;
          word-break: break-all;
          display: flex;
          align-items: center;
          max-height: 40px;
          overflow: auto;
          span {
            max-height: 28px;
          }
        }
      }
    }
  }
  .mark-required {
    color: rgba(225, 76, 70, 1);
  }
  .single-line-and-ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
  // 处理表头排序图标错行问题
  .title-container {
    display: inline-block;
    width: calc(100% - 23px);
  }
  .bee-table-column-sorter > span {
    width: 17px !important;
  }
  // 处理表头排序图标透明度问题
  .bee-table-column-sorter-flat {
    opacity: 0.6 !important;
  }
  .light-tabs-content {
    .u-table-content {
      .u-table-scroll,
      .u-table-fixed-left {
        .u-table-header {
          th:first-child {
            padding: 0 7px !important;
          }
          tr:first-child th:first-child {
            padding-left: 20px !important;
          }
          tr:first-child th.table-checkbox-class {
            padding: 0 7px 0 20px !important;
          }
        }
        .u-table-fixed-right {
          .u-table-header {
            th:first-child {
              padding: 0 7px 0 20px !important;
            }
          }
        }
        .u-table-tbody tr td:first-child {
          padding: 0 7px 0 20px;
        }
      }
      .u-table-scroll {
        .u-table-thead {
          .mark-required {
            color: rgba(225, 76, 70, 1);
          }
        }

        .u-table-tbody {
          border: none !important;
          tr {
            .card-table-edit-line {
              .nc-input.u-form-control:focus {
                border-color: #d0d0d0;
              }
            }
          }
          .cardTable-selected-row {
            background: rgba(235, 237, 242, 1);
            .table-checkbox-class,
            .table-opr {
              background: rgba(235, 237, 242, 1);
            }
            .table-opr {
              color: rgba(0, 122, 206, 1);
            }
          }
        }
      }
      .u-table-bordered td,
      .u-table-bordered th {
        border-right: none;
      }

      .u-table-fixed-right {
        .u-table-header {
          .u-table-fixed {
            width: 100%;
          }
        }
      }
    }
    .u-table-footer {
      .total-row {
        .u-table-scroll .u-table-tbody tr td:first-child {
          padding: 0 7px 0 8px;
        }
        .u-table-tbody tr td:first-child {
          padding: 0 7px 0 5px;
        }
      }
    }
  }
}

/**布局类**/
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf {
  //解决高度塌陷
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
// EditTable
.lightapp-component-editTable {
  .nc-table {
    > .u-table-content {
      // zhanghengh start
      .u-table-fixed-left .u-table-header tr:first-child th:first-child > div {
        // initial 关键字ie并不支持  修改为left  --bbqin
        // text-align: initial;
        text-align: left;
      }
      .u-table-scroll,
      .u-table-fixed-left {
        .u-table-header {
          tr:first-child th:first-child {
            padding: 0 7px 0 20px !important;
          }
          tr:first-child th.table-checkbox-class {
            padding: 0 7px 0 20px !important;
            .u-checkbox {
              margin: 0px;
            }
          }
        }
        .u-table-tbody tr td:first-child {
          padding: 0 7px 0 20px;
        }
      }
      .u-table-footer {
        .total-row {
          .u-table-scroll .u-table-tbody tr td:first-child {
            padding: 0 7px 0 8px;
          }
          .u-table-tbody tr td:first-child {
            padding: 0 7px 0 5px;
          }
          .u-table-body-inner {
            margin-right: 0px;
            overflow: hidden;
          }
        }
      }
      .u-table-fixed {
        .u-table-tbody {
          .u-table-row {
            td.table-checkbox-class {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
  .multiple-head-border {
    .u-table-content .u-table-thead tr th {
      border: 1px solid #cdcdcd;
      height: 26px;
    }
  }
  // 分页样式
  .editTable-component-paginationDiv {
    height: 50px;
    overflow: hidden; // 解决bfc
    background-color: $t-bgcolor;
    border-radius: 0 0 3px 3px;
    padding: 0px 20px;
    z-index: 10;
    border-top: 1px solid #d9d9d9;
    .NC_PaginationStyle {
      float: right;
    }
    .fl {
      line-height: 30px;
    }
    .u-select-selection-rendered {
      margin: 0;
    }

    // 分页样式
    .page-size {
      .u-form-control-wrapper {
        max-width: 100px;
        margin-top: 5px;
      }
      .NC_total {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 12px !important;
        color: #555555;
      }

      // 分页多选框样式
      .u-select-selection {
        width: 83px;
        height: 28px;
        color: #555555;
        .u-select-selection-selected-value {
          font-size: 12px !important;
        }
      }
    }
  }
  // 处理表头排序图标错行问题
  .title-container {
    display: inline-block;
    width: calc(100% - 23px);
  }
  //表头样式
  .edittable-title {
    //表头居中对齐
    .title-vertical-center {
      vertical-align: sub;
      display: inline-block;
      width: 100%;
    }
  }
  .bee-table-column-sorter > span {
    width: 17px !important;
  }
  // 处理表头排序图标透明度问题
  .bee-table-column-sorter-flat {
    opacity: 0.6 !important;
  }

  // 点击选中行颜色
  .editTable-selected-row {
    background: rgba(228, 228, 228, 1);
  }
  // 可编辑单元格样式
  .table-index {
    .edit-table-browse {
      a,
      span {
        max-width: 100%;
        margin-right: 0;
      }
    }
  }
  .edit-table-browse {
    a,
    span {
      display: inline-block; //解决jg显示不全
      max-width: 100%;
      height: 17px;
      line-height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      white-space: nowrap;
    }
    a {
      text-decoration: none;
    }
  }

  .single-line-and-ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
  .edit-table-edit-line {
    // 将参照高度在表格中改成28，防止错行
    .refer-wrapper .refer {
      height: 28px;
    }
  }
  .customer-style {
    a,
    span {
      display: inline-block;
      max-width: 100%;
    }
    a {
      text-decoration: none;
    }
  }
  .edit-table-edit-td {
    height: 100%;
    .iconfont {
      display: none;
      font-weight: normal;
      color: #058ae5;
      font-size: 13px;
    }
  }
  .edit-table-edit-td:hover {
    > div {
      display: flex;
      align-items: center;
    }
    .text-left {
      justify-content: flex-end;
    }
    .iconfont {
      font-family: 'uf';
      display: inline-block;
      padding-left: 3px;
      font-weight: normal;
      color: #058ae5;
      font-size: 14px;
      &.icon-zhengbiaobianji1:before {
        content: "\e69b";
      }
    }
  }

  // 必输星样式
  .mark-required {
    color: rgba(225, 76, 70, 1);
  }

  // 多表头样式
  .parent-column {
    text-align: center;
  }
  //清除ie右侧灰色滚动条
  .clear-right-scrollBar {
    .u-table-fixed-right,
    .u-table-fixed-left {
      .u-table-body-inner::-webkit-scrollbar-thumb:horizontal {
        // zhanghengh  先注释了
        //这里去掉合集行的chrom的滚动条先这样处理
        background-color: transparent;
      }
      //liuming ie双滚动条问题
      .u-table-body-inner {
        scrollbar-arrow-color: #f6f6f6;
        /*滚动条滑块按钮的颜色*/
        scrollbar-face-color: #f6f6f6;
        /*滚动条整体颜色*/
        scrollbar-highlight-color: #f6f6f6;
        /*滚动条阴影*/
        scrollbar-shadow-color: #f6f6f6;
        /*滚动条轨道颜色*/
        scrollbar-track-color: #f6f6f6;
      }
    }
  }
}