$labelWidth:80px;
$itemWidth:calc(100% - 90px);
.u-search {
    .u-label {
        min-width: $labelWidth;
        white-space: nowrap;
        text-align: right;
    }
    .u-checkbox-group,
    .col {
        display: inline-flex;
    }
    .u-form-item {
        min-height: 42px;
        .u-select {
            width: $itemWidth;
        }
        .u-form-control {
            width: $itemWidth;
        }
        .datepicker-container{
            height: 26px;
            width: $itemWidth;
            .u-form-control.md{
                height: 26px;
            }
            .u-form-control{
                width: 100%;
            }
            .u-input-group-btn{
                top:0;
            }
        }
        .bottom-10{
            position: relative;
            bottom: 10px;
        }
        .calendar-picker{
            height: 26px;
            width: $itemWidth;
            .u-form-control.md{
                height: 26px;
            }
            .u-form-control{
                width: 100%;
            }
            .u-input-group-btn{
                top:0;
            }
        }
        .u-switch{
            display: inline-block;
        }
    }
    .u-form-item,
    .u-row>div {
        padding: 0;
    }
    .u-panel {
        padding-top: 0px;
        padding-bottom: 0;
        .u-panel-body {
            padding-bottom: 0
        }
    }
    .u-search-resident {
        padding-bottom: 0px;
        padding-top: 0px;
    }
}