{
	"presets": [
		"env",
		"react",
		"stage-1",
	],
	"plugins": [
		// [
		// 	"transform-runtime",
		// 	{
		// 		"helpers": false,
		// 		"polyfill": true,
		// 		"regenerator": true
		// 	}
		// ],
		// "transform-decorators-legacy",
		[
			"module-resolver",
			{
			  "alias": {
				"static": "./static",
				"src/common": "./src@common",
				"business": "./src@business",
				"SvgIcon": "./node_modules/@mdf/metaui-web/lib/components/common/SvgIcon.js"
			  }
			}
		],
		// "react-hot-loader/babel"
	]
}
