@import '../node_modules/ac-btns/src/Btns.scss';

@keyframes beLong {
    from {
        width: 20%;
    }

    to {
        width: 90%;
    }
}

@keyframes rotates {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}


.ac-upload-list {
    &-header {
        height: 50px;
        background: #fff;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 50px;

        &>div {
            display: inline-block;
        }

        &.close {
            margin-left: 8px;
            margin-right: 8px;
            border: 1px solid #D0D0D0;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
            border-radius: 3px;

            .ac-upload-list-btns {
                display: none;
            }
        }
    }

    &-text {
        cursor: pointer;
        span {
            font-weight: bold;
            font-size: 13px;
        }
    }

    &-btns {
        float: right;
    }

    &-file-area.hide {
        display: none;
    }

    &-file-area {
        .u-checkbox .u-checkbox-label:before {
            position: relative;
            left: -16px;
        }
        .table-menu {
            height: 16px;
            line-height: 1;
        }
    
        .u-table-filter-column-pop-cont-item {
            &>span {
                margin: 0 !important;
            }
        }
        .u-table {
            width: 100%;
            .u-table-placeholder .table-nodata{
                position:relative;
            }
            .u-table-fixed-left tr td:first-child,
            .u-table-fixed-left tr th:first-child,
            .u-table-scroll tr td:first-child,
            .u-table-scroll tr th:first-child {
                padding: 0;
                padding-left: 12px;
            }

            .u-table-header {
                tr {
                    &.filterable th {
                        padding: 0 2px;
                    }

                    th {
                        overflow: visible;
                        background-clip: padding-box;
                        word-break: keep-all;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: left;
                        background: #eceff5;
                        padding: 0;
                        height: 35px;
                        padding-left: 12px;
                        font-size: 13px;

                        .u-table-thead-th-drag-gap .online {
                            height: 12px;
                            width: 1px;
                            background: transparent;
                            margin: 11px auto;
                            line-height: 100%;
                            background: #D0D0D0;
                            margin-right: 100px;
                        }
                    }
                }

            }

            .u-table-tbody {
                tr {
                    transition: none;

                    &:nth-child(2n) {
                        background: #ffffff;
                    }

                    &:nth-child(2n + 1) {
                        background: #ffffff;
                    }

                    &:hover,
                    &.u-table-row-hover {
                        background: #F3F3F3;

                    }

                    &.u-table-row {

                        &.selected,
                        &.ref-multiple-table-row-selected {
                            background: #E4E4E4;
                        }
                    }

                    &.sumrow {
                        background: #FEFBF3;
                    }

                    td {
                        padding: 0;
                        padding-left: 12px;
                        height: 30px;
                        font-size: 13px;
                        border-color: #d0d0d0;

                        .ac-grid-cell {
                            display: block;
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }

            }

            .u-table-content .u-table-fixed-right {
                .u-table-thead-th {
                    padding-left: 20px;
                }

                .u-table-body-outer {
                    .u-table-tbody {
                        tr td {
                            padding-left: 0;

                            .ac-grid-cell {
                                .ac-btns span.ac-btns-item {
                                    margin: 0 6px;
                                }

                                .ac-btns span.ac-btns-item:first-child {
                                    margin-left: 20px
                                }

                                .ac-btns span.ac-btns-item:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }

            .u-table-thead th {
                background: #f1f2f5;
                color: #212121;
            }

            .name-space {
                img {
                    height: 20px;
                    margin-right: 10px;
                }
            }

            .u-table-tbody {
                tr td {
                    .u-progress {
                        margin-bottom: 0;
                        margin-right: 20px;

                        .u-progress-bar {
                            background: #2196F3;
                        }
                    }

                    .u-progress.uploading {
                        .u-progress-bar {
                            animation: beLong 5s;
                            animation-fill-mode: forwards;
                        }
                    }

                    .upload-status.uploading {
                        color: #2196F3;

                        .uf-loadingstate {
                            animation: rotates 2s linear infinite;
                            display: inline-block;
                        }
                    }

                    .upload-status.error {
                        color: #e14c46;
                    }
                }

                .opt-btns {
                    .ac-btns {

                        button.ac-btns-item.u-button.ac-btns-write,
                        button.ac-btns-item.u-button.ac-btns-write:hover {
                            color: #fff !important;
                            background: #505F79 !important;
                            border-color: #505F79 !important;
                            height: 26px;
                            font-size: 14px;
                            line-height: 26px;
                            padding: 0;
                            margin-right: 8px;
                            margin-bottom: 2px;
                        }
                    }
                }
            }


        }
    }

    .u-upload-list {
        display: none;
    }

}

.pop_dialog.u-modal {

    .pop_body,
    .pop_footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .pop_footer {
        text-align: right;
        padding: 7px 20px;
        border-top: 1px solid rgb(208, 208, 208);

        button {
            width: 66px;
        }

    }

    .u-modal-header {
        background-color: rgb(243, 243, 243);
        font-size: 14px;
        color: rgb(17, 17, 17);
        font-weight: 700;
        padding: 9px 20px;

        h4 {
            font-size: 16px;
            color: rgba(23, 43, 77, 1);
            font-weight: normal;
        }
    }

    .btn {
        margin-left: 10px;
    }

    .pop_body {
        .keyword {
            font-size: 18px;
            display: block;
            color: rgb(17, 17, 17);

            i {
                font-size: 25px;
                color: rgb(255, 191, 0);
                margin: 0px 10px;
            }
        }

        .pop_dialog-ctn {
            font-size: 13px;
            display: block;
            color: rgb(85, 85, 85);
            padding: 5px 55px;
        }
    }

    .u-modal-dialog {
        .u-modal-content {
            .u-modal-footer {
                text-align: right;
            }
        }
    }
}