.nc-search-panel{
    &-ctns-out{
        padding-left: 20px;
        background-color: #f3f3f3;
    }
    &-ctns{
        display: flex;
        justify-content: space-between;
        &.close{
            display: none;
        }
    }
    &-ctn{
        width: calc(100% - 100px);
        display: inline-block;
    }
    &-formitem{
        width: calc(100% / 5);
        padding-right: 10px;
        display: inline-block;
        margin-bottom: 8px;
        position: relative;
        vertical-align: bottom;
        &-mast{
            position: absolute;
            color: #ff0000;
            z-index: 2;
            top: 8px;
            left: 4px;
        }
        .datepicker-input-group .u-form-control{
            float: unset;
        }
        .ref-input-wrap{
            width: 100%!important;
        }
        .u-input-number.u-input-group.simple{
            display: inline-block;
            .u-form-control{
                float: unset;
                height: 30px;
            }
            .u-input-group-btn{
                position: absolute;
                right: 2px;
                .icon-group{
                    height: 30px;
                }
            }
        }
        .u-input-number-group {
            .u-input-number-group-split{
                position: unset;
            }
        }
    }
    &-btns{
        width: 100px;
        display: inline-block;
        height: 32px;
        display: flex;
        justify-content: flex-start;
        .u-button{
            padding: 0;
            min-width: auto;
            height: 32px;
            line-height: 32px;
        }
        &-search.u-button{
            padding: 0 5px;
        }
        &-reset.u-button{
            margin-left: 6px;
        }
    }
    &-open{
       float: right;
       cursor: pointer;
       color: #9FABBF;
       user-select: none;
        .uf{
            background: #9FABBF;
            color: #fff;
            padding: 0 2px;
            margin-left: 5px;
        }
        &:hover{
            color: #0073e1;
            .uf{
                background: #0073e1;
            }
        }
    }
    &-header{
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 10px;
        background-color: #f3f3f3;
    }
    &-case{
        &-list{
            .u-dropdown-menu-item{
                padding: 0 24px!important;
            }
        }
    }   
    &-selected{
        color: #0073e1;
        margin-left: 24px;
        cursor: pointer;
    }
    &-selected-data{
        width: calc(100% - 250px);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1;
        position: relative;
        top: 2px;
        padding-left: 20px;
    }
    &-selected-sample{
        cursor: pointer;
    }
    &-selected-complex{
        &-item{
            line-height: 15px;
            font-size: 13px;
            &-title{
                margin-left: 8px;
                width: 65px;
                min-height: 15px;
                color: #555;
                text-align: right;
                word-break: break-all;
                word-wrap: break-word;
            }
            &-ctn{
                width: 260px;
                color: #111;
                margin-left: 12px;
                word-break: normal;
                word-wrap: break-word;
            }
        }
    }
}