.ac-form-layout {
    &-row {
        margin: 0
    }

    &-item {
        padding: 0;
        margin-bottom: 8px;

        input,
        .u-select .u-select-selection,
        .u-input-number {
            border-color: #d5d6d9;
        }

        .u-select-selection--single .u-select-selection-selected-value{
            padding-left: 12px;
        }
        .u-label {
            display: inline-block;
            width: 140px;
            text-align: right;
            font-size: 13px;
            color: #111111;
        }

        .u-label+* {
            width: calc(100% - 140px);
            display: inline-block;
            height: 32px;
            font-size: 13px;
        }

        .container-refer {

            //mdf参照
            .ant-search-input-wrapper {
                vertical-align: middle;
                height: 32px;

                .ant-input {
                    border: 1px solid #d5d6d9;
                }
            }
        }

        &.error {

            .u-form-control,
            .u-input-number,
            .u-input-number.u-input-group.simple .u-input-group-btn {
                border-color: #f53c32;
            }

            .u-input-number.u-input-group.simple .u-input-group-btn .icon-group .plus,
            .u-input-number.u-input-group.simple .u-input-group-btn .icon-group .reduce {
                color: #f53c32;
            }

            .container-refer {

                //mdf参照
                .ant-search-input-wrapper {
                    .ant-input {
                        border-color: #f53c32;
                    }
                }
            }
        }

        .datepicker-input-group .u-form-control {
            float: unset;
        }

        .ref-input-wrap {
            width: 100% !important;
        }

        .u-input-number.u-input-group.simple {
            display: inline-block;

            .u-form-control {
                float: unset;
                height: 30px;
            }

            .u-input-group-btn {
                position: absolute;
                right: 2px;

                .icon-group {
                    height: 30px;
                }
            }
        }

        &-out {
            position: relative;
        }

        &-error-msg {
            color: #f53c32;
            position: absolute;
            z-index: 2;
            top: -28px;
            width: 100%;
            text-align: center;
            overflow: hidden;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 30px;
            pointer-events: none;

            &-text {
                padding: 5px 10px;
                border-radius: 4px;
                background: #fff;
                box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
            }
        }

        &-error-msg::after {
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            background: #fff;
            content: " ";
            left: calc(50% - 5px);
            transform: rotate(45deg);
            border-right: 1px solid #d5d6d9;
            border-bottom: 1px solid #d5d6d9;
        }


        //禁用状态
        .u-form-control[disabled] {
            background: #f3f3f3;
            border-color: #e0e0e0;
            color: #2B344B !important;
        }

        .u-select-disabled {
            .u-select-selection {
                background: #f3f3f3;
                border-color: #e0e0e0;
                color: #2B344B;
            }

        }

        input::-webkit-input-placeholder {
            color: #cccccc !important;
            font-size: 13px;
        }

        .u-select-selection-placeholder,
        .u-select-search-field-placeholder {
            color: #cccccc;
            font-size: 13px;
        }
    }

    &-mast {
        position: relative;
        top: 2px;
        color: #f53c32;
        right: 2px;
    }

    &.disabled {
        pointer-events: none;

        .ac-form-layout-mast{
            display: none;
        }
        .u-label:after{
            content: " :"
        }
        .ac-form-layout-item-error-msg{
            display: none;
        }
        .rc-tree-select-selection,
        .rc-tree-select-selection:hover,
        .u-form-control {
            background: none;
            border: none;
            color: #111111;
            box-shadow: none;
        }

        .u-select .u-select-selection {
            background: none;
            border: none;
            &.u-select-selection--multiple{
                .u-select-selection-choice{
                    background: none;
                    color: #111111;
                    padding: 0;
                }
            }
        }

        .u-select-arrow,
        .rc-tree-select-menu-icon,
        .u-input-group-btn {
            display: none;
        }

        .container-refer {
            //mdf参照
            .ant-search-input-wrapper {
                .ant-input {
                    border: none;
                    background: none;
                    pointer-events: none;
                }

                .ant-input-suffix {
                    display: none;
                }
            }
            .refer-wrapper{
                pointer-events: none;
                .refer-wrapper-content{
                    border: none;
                    background: none;
                    >ul{
                        background: none;
                        .selected-item{
                            span{
                                border: none;
                            }
                        }
                    }
                }
            }
            
            .refer-canzhao-wrapper{
                display: none;
            }

        }
        .u-input-number{
            border: none;
            .u-input-group-addon{
                display: none;
            }
        }
        .ac-split-area{
            pointer-events: auto;
        }
    }
}