.sidebar .menu-components .menu-group {
    list-style: none
}

.sidebar .menu-components .menu-group .menu-item {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
.sidebar .menu-components .menu-group .menu-item a{
    color: #424242;
    text-decoration: none;
    font-size: 13px;
    padding-left: 10px;
}
.sidebar .menu-components .menu-group:nth-of-type(1) .menu-item a{
    font-size: 14px;
    padding-left: 0px;
}

.sidebar .menu-components .menu-group .menu-item-title {
    color: #424242;
    line-height: 40px;
    cursor: pointer;
}
.sidebar .menu-components .menu-group .menu-item-title .menu-item{
    display: none;
    color: #424242;
    cursor: pointer;
}
.sidebar .menu-components .menu-group .menu-item-title.open .menu-item{
    display: block;
}

.sidebar .menu-components .menu-group .menu-item.active{
    background: #FDF6F6;
    border-right:2px solid #E14C46;
}
.sidebar .menu-components .menu-group:nth-of-type(1) .menu-item-title .menu-item{
    display: block;
    border: none;
    background: #fff;
    color: #E14C46;
}
.sidebar .menu-components .menu-group:nth-of-type(1) .menu-item.active a{
    color: #E14C46;
}
