@import "../src/AcGrids.scss";

.ac-grid-demo{
    background: #F4F4F4;
    padding: 10px;
}

.demo1-input{
    position: relative;
    input{

    }
    span{
        position: absolute;
        right: 0;
    }
}