
//特定的样式
@import './theme-red.css';
@import './components/RefMultipleTableBaseUI.less';
@import './components/RefSearchPanel.less';
.ref-multiple-table{
    .u-input-group-btn{
        line-height: 32px;
        color: #757575;
     }
     .u-radio-group{
         display: block;
     }
     .u-search-resident{
         padding:0;
     }
     .u-search .u-panel .u-panel-body{
         padding-bottom: 0;
     }
     .formItemCustomed{
         padding-bottom: 10px;
     }
    &.ref-core .u-modal-dialog .u-modal-body{
        padding: 10px 16px;
        text-align: center;
    }
    .ref-tabs-panel{
        padding:0;
    }
    & .u-search-header{
        padding-top:0;
    }

}