
//特定的样式
@import './theme-red.less';
@import './components/RefMultipleTableBaseUI.less';
@import './components/RefSearchPanel.less';
.ref-multiple-table.ref-core-modal{
    .u-input-group-btn{
        line-height: 32px;
        color: #757575;
     }
     .u-radio-group{
         display: block!important;
     }
     & .u-search-header{
        padding:0;
        height: auto;
        
    }
    & .u-search-header, & .u-search-header-title, & .u-search-header-oper{
        height: 44px;
        line-height: 44px;
        font-weight: normal;
    }
     .u-search-resident{
         padding:0;
     }
     .u-search .u-panel .u-panel-body{
         padding: 0;
     }
     .formItemCustomed{
        padding-bottom: 8px;
       // padding-top: 10px;
        & .u-label,& .u-form-control{
             font-size:12px;
        }
         
     }
    &.ref-core .u-modal-dialog .u-modal-body{
        padding: 10px 16px;
        padding-top:0;
        text-align: center;
    }
    .ref-tabs-panel{
        padding:0;
    }
    

}