
//特定的样式

.ref-multiple-table{
    &.ref-core .u-modal-dialog .u-modal-body{
        padding: 10px 0;
        text-align: center;
    }
    & .u-search-header{
        padding-top:0;
    }
    & .u-table-tbody{
        & tr td span{
            display: inline-block;
        }
        & tr td:first-child{
            text-align: center
        }
        
    }

}