.keyboard {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  background: #dadada;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
}
.keyboard-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  width: 700px;
  left: calc(50% - 350px);
}
.keyboard-wrapper .keyboard-row {
  display: flex;
}
.keyboard-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100px;
  font-size: 18px;
  height: 60px;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 1px solid #CECECE;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.keyboard-button:focus {
  outline: none;
}
.keyboard-button:disabled {
  opacity: 0.4;
  cursor: default;
}
.keyboard-button:disabled {
  opacity: 0.4;
  cursor: default;
}
.keyboard-button:active {
  background-color: #cccccc;
}
.keyboard-button.shift-symbols {
  flex-basis: 210px;
}
.keyboard-button.keyboard-numberButton {
  flex-grow: 1;
}
.keyboard-button.keyboard-halfButton {
  flex-basis: 56px;
}
.keyboard-button.keyboard-space {
  flex-grow: 1;
}
.keyboard-button.keyboard-utilButton {
  flex-grow: 2;
  max-width: 55px;
}
.keyboard-button.keyboard-additionalButton {
  flex-basis: 128px;
}
.keyboard-button.keyboard-submitButton,
.keyboard-button.keyboard-submit-button {
  flex-basis: 95px;
  background-color: #63b324;
  border-color: #63b324;
  color: #ffffff;
}
.keyboard-keysSet {
  display: flex;
  flex-grow: 1;
}


.fileList .ant-row {
  padding-top: 5px;
}
.fileList {
  width: 100px;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
  line-height: 20px;
}
.fileList .fileName {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  margin-top: 5px;
}
.fileList .fileImg {
  width: 100px;
  height: 100px;
  background-color: #f4f5f8;
  text-align: center;
  line-height: 100px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  margin-left: 5px;
}
.fileList .fileImg img {
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.fileList .fileImg .icon {
  width: 58px;
  height: 58px;
  vertical-align: middle;
}
.fileList .fileImg .fileBtn {
  height: 30px;
  line-height: 30px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}
.fileList .fileImg .fileBtn i {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-bottom: 4px;
}
.fileList .fileImg .fileBtn i:hover {
  color: #fff;
}
.fileList .fileImg .fileBtn a {
  display: inline-block;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
.fileList .fileImg .fileBtn a:hover {
  background: rgba(0, 0, 0, 0.75);
}
.fileList .fileImg .fileBtn a.download {
  float: left;
  line-height: 30px;
}
.fileList .fileImg .fileBtn a.close {
  float: right;
  line-height: 30px;
}
.fileList .fileImg .fileBtn a.onlyClose {
  float: right;
  line-height: 30px;
  width: 100%;
}
.fileList .fileImg .fileBtn-sort a.sort-left {
  width: 33%;
}
.fileList .fileImg .fileBtn-sort a.sort-right {
  width: 33%;
}
.fileList .fileImg .fileBtn-sort a.close {
  float: right;
  line-height: 30px;
  width: 33%;
}
.fileList .fileImg .showCover {
  display: block;
}
.fileList .fileImg .showCover a {
  width: 100%;
}
.fileList .fileImg:hover .fileBtn {
  display: block;
}
.fileList .fileSize {
  display: block;
  color: #999;
}
.imageList .Progress {
  z-index: 1001;
}
.imageList .imageName {
  width: 100%;
}
.imageList .imageDiv {
  display: none;
}
.imageList:hover .imageDiv {
  display: block;
  position: absolute;
  top: 70%;
  width: 100%;
  height: 30%;
  background-color: white;
  opacity: 0.3;
  margin-right: 10px;
}
.imageList:hover .arrowleft {
  position: absolute;
  background: url(/static/styles/default/images/components/upload/arrow-left.png);
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  top: 30%;
  width: 15%;
  height: 40%;
  left: 13%;
}
.imageList:hover .arrowright {
  position: absolute;
  background: url(/static/styles/default/images/components/upload/arrow-right.png);
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  top: 30%;
  width: 15%;
  height: 40%;
  left: 41%;
}
.imageList:hover .delete {
  position: absolute;
  background: url(/static/styles/default/images/components/upload/delete.png);
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  top: 30%;
  width: 10%;
  height: 40%;
  left: 70%;
}

.upload-picture-book .ant-upload {
  margin-bottom: 0!important;
}
.upload-picture-book .ant-upload {
  margin-top: 0!important;
}
.upload-picture-book .pictureBook {
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 4px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.upload-picture-book .pictureBook .pictureRow {
  position: absolute;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #D9D9D9;
  left: 50%;
  top: -10px;
  margin-left: -5px;
}
.upload-picture-book .pictureBook .pictureRow:before {
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #f8f8f8;
  top: -4px;
  left: -5px;
}
.upload-picture-book .pictureBook:hover {
  border-color: #505766;
}
.upload-picture-book .pictureBook:hover .pictureRow {
  border-bottom-color: #505766;
}
.upload-picture-book .pictureBook .icon {
  width: 24px;
  height: 24px;
  vertical-align: -3.15em;
}
.upload-picture-book .pictureBook p {
  font-size: 12px;
  color: #999999;
  line-height: 24px;
}
.upload-picture-book .pictureBook .pictureImg {
  width: 118px;
  height: 118px;
  overflow: hidden;
  text-align: center;
  position: relative;
  border-radius: 4px;
}
.upload-picture-book .pictureBook img {
  height: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.upload-picture-book .pictureBook .fileBtn {
  height: 22px;
  line-height: 22px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.upload-picture-book .pictureBook .fileBtn i {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-bottom: 4px;
}
.upload-picture-book .pictureBook .fileBtn i:hover {
  color: #fff;
}
.upload-picture-book .pictureBook .fileBtn a {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #fff;
  width: 33%;
}
.upload-picture-book .pictureBook .fileBtn a:hover {
  background: rgba(0, 0, 0, 0.75);
}
.upload-picture-book .pictureBook:hover .fileBtn {
  display: block;
}
.upload-picture-book .ant-badge-count {
  right: -20px;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  line-height: 22px;
  background-image: linear-gradient(-45deg, #FC4C2F 0%, #EE2223 100%);
  padding: 0;
}
.picture-book-modal {
  height: 500px;
  width: 708px!important;
}
.picture-book-modal .ant-modal-header {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 60px;
}
.picture-book-modal .ant-modal-header .ant-modal-title {
  line-height: 28px;
}
.picture-book-modal .model-header {
  display: flex;
  justify-content: space-between;
}
.picture-book-modal .model-header .ant-upload-select-text svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}
.picture-book-modal .ant-modal-body {
  padding: 16px 20px 18px;
  overflow: hidden;
}
.picture-book-modal .ant-modal-body .pictureBook-list {
  margin-right: -20px;
}
.picture-book-modal .ant-modal-body .pictureBook-list .ant-upload {
  display: block;
}
.picture-book-modal .ant-modal-body .pictureBook-list .pictureBook-list-title {
  font-size: 12px;
  color: #999;
  margin: 10px 0 8px 0;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row {
  width: 100%;
  overflow: auto;
  height: 264px;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook {
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 4px;
  text-align: center;
  position: relative;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .pictureImg {
  width: 118px;
  height: 118px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .pictureImg img {
  height: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn {
  height: 22px;
  width: 100%;
  line-height: 22px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(6, 6, 6, 0.41);
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn > span {
  display: block;
  width: 100%;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn .ant-upload.ant-upload-select {
  display: block;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn i {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-bottom: 4px;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn i:hover {
  color: #fff;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn a {
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook .fileBtn a:hover {
  background: rgba(0, 0, 0, 0.75);
}
.picture-book-modal .ant-modal-body .pictureBook-list .list-row .list-col .pictureBook:hover .fileBtn {
  display: flex;
}
.picture-book-modal .pagination-new {
  padding-right: 0;
  margin-bottom: -3px;
  padding-bottom: 0;
}
.picture-book-modal .ant-pagination-item-active {
  background-color: #adb4bc;
  color: #fff;
  border-color: #adb4bc;
}
.picture-book-modal .ant-modal-footer {
  padding: 15px 20px;
  max-height: 62px;
}
.picture-big-modal .ant-modal-body {
  padding: 0;
  height: 600px;
}
.picture-big-modal .picture-big {
  position: relative;
  height: 100%;
  width: 600px;
  overflow: hidden;
}
.picture-big-modal .picture-big .pic-left,
.picture-big-modal .picture-big .pic-right {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  z-index: 88;
}
.picture-big-modal .picture-big .pic-left .anticon,
.picture-big-modal .picture-big .pic-right .anticon {
  font-size: 22px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.picture-big-modal .picture-big .pic-left:hover,
.picture-big-modal .picture-big .pic-right:hover {
  background: rgba(0, 0, 0, 0.5);
}
.picture-big-modal .picture-big .pic-left {
  left: 10px;
}
.picture-big-modal .picture-big .pic-left .anticon {
  padding-right: 2px;
}
.picture-big-modal .picture-big .pic-left.pic-left-disabled {
  background: rgba(0, 0, 0, 0.15);
}
.picture-big-modal .picture-big .pic-left.pic-left-disabled:hover {
  background: rgba(0, 0, 0, 0.15);
}
.picture-big-modal .picture-big .pic-right {
  right: 10px;
}
.picture-big-modal .picture-big .pic-right .anticon {
  padding-left: 2px;
}
.picture-big-modal .picture-big .pic-right.pic-right-disabled {
  background: rgba(0, 0, 0, 0.15);
}
.picture-big-modal .picture-big .pic-right.pic-right-disabled:hover {
  background: rgba(0, 0, 0, 0.15);
}
.picture-big-modal .picture-big img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.viewContainer.width-percent-50 {
  width: 100%!important;
}
.viewContainer .pic-book-list {
  float: left;
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.viewContainer .pic-book-list .upload-picture-book {
  margin-top: 10px;
}
.viewContainer .pic-book-list .ant-tag {
  white-space: normal;
  display: flex;
  align-items: center;
}
.viewContainer .pic-book-list .ant-tag .ant-tag-text {
  line-height: 100%;
  max-height: 30px;
  line-height: 14px;
  overflow: hidden;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}
.viewContainer .pic-book > .ant-row {
  padding-left: 150px;
  width: 100%;
}
.viewContainer .pic-book > .ant-row .ant-checkbox-wrapper {
  float: left;
  margin-left: -150px;
}
.container-browse-mode .upload-picture-book .ant-upload {
  margin-top: 0!important;
}
.container-browse-mode .upload-picture-book .pictureBook.readOnly:hover {
  border-color: #d9d9d9;
  cursor: initial;
}
.container-browse-mode .upload-picture-book .pictureBook.readOnly:hover .pictureRow {
  border-bottom-color: #d9d9d9;
}
.container-browse-mode .upload-picture-book .pictureBook .icon {
  width: 50px;
  height: 50px;
  vertical-align: -6em;
}

.refer-toolbar-show-more.ant-dropdown .ant-dropdown-menu {
  max-height: inherit;
  overflow-x: visible;
  overflow-y: visible;
}

.ncc-refer-model.ant-modal.referModal {
  min-width: auto;
  padding-bottom: 0;
  /*树多选框隐藏*/
}
.ncc-refer-model.ant-modal.referModal.ncc-refer-model-max {
  top: 10px;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-content .ant-modal-header {
  padding: 0;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-content .ant-modal-header .ant-modal-title {
  width: 100%;
  padding: 0;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-content .ant-modal-body {
  min-height: auto;
}
.ncc-refer-model.ant-modal.referModal .ncc-search-tree .hidden-checkbox > .ant-tree-checkbox {
  display: none;
}
.ncc-refer-model.ant-modal.referModal .refer-modal-header {
  width: 100%;
  padding: 10px 20px ;
  background-color: #F3F3F3;
}
.ncc-refer-model.ant-modal.referModal .refer-modal-header .col-float {
  height: 20px;
  line-height: 20px;
  text-align: left;
}
.ncc-refer-model.ant-modal.referModal .refer-modal-header .col-float:last-child {
  text-align: right;
}
.ncc-refer-model.ant-modal.referModal .refer-modal-header .col-float .refer-modal-title {
  font-size: 14px;
  color: #111111;
  font-weight: bold;
}
.ncc-refer-model.ant-modal.referModal .refer-modal-header .col-float .anticon {
  font-size: 17px;
  color: #555555;
  margin-left: 20px;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-footer {
  height: 46px;
  padding: 7px 30px;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-footer .refer-footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-footer .refer-footer-container .refer-selected-count {
  color: #555;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  min-width: auto;
  border: none;
  margin-left: 6px;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-footer .refer-footer-container .checkbox-hotkey-wrapper {
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-footer .refer-footer-container .checkbox-hotkey-wrapper .ant-checkbox-wrapper {
  color: #555;
  font-size: 14px;
}
.ncc-refer-model.ant-modal.referModal .ant-modal-footer .refer-footer-container .refer-footer-btns-container {
  flex: 1;
  text-align: right;
}
.ncc-refer-model.ant-modal.referModal .rightPanel {
  height: 466px;
}
.ncc-refer-model.ant-modal.referModal .rightPanel.right-panel-max {
  display: flex;
  flex-direction: column;
}
.ncc-refer-model.ant-modal.referModal .rightPanel.right-panel-max > .ant-row:nth-child(2) {
  flex: 1;
}
.ncc-refer-model.ant-modal.referModal .rightPanel.right-panel-max > .ant-row:nth-child(2) .meta-table {
  height: 100%;
}
.ncc-refer-model.ant-modal.referModal .rightPanel.right-panel-max .meta-table {
  height: auto;
}
.ncc-refer-model.ant-modal.referModal .rightPanel .meta-table {
  position: relative;
  height: 410px;
}
.ncc-refer-model.ant-modal.referModal .rightPanel .meta-table.readOnlyTable {
  margin-bottom: 0;
}
.ncc-refer-model.ant-modal.referModal .rightPanel .meta-table .table-pagination-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

