.ac-split-area{
    &-left{
        user-select: none;
        height: 22px;
        cursor: pointer;
        display: flex;
        
        &-text{
            width: auto;
            margin-right: 10px;
            font-size: 12px;
            color: #8b8d90;
            .uf{
                color: #8b8d90;
                font-size: 12px;
                padding-right: 2px;
            }
        }
        &-line{
            flex-grow: 1;
            &-inner{
                border-bottom: 1px dashed #d9d9d9;
                width: 100%;
                display: inline-block;
                position: relative;
                top: -5px;
            }
        }
    }
    &-ctn{
        height: 0;
    }
    &-ctn.open{
        height: auto;
    }
}