
.ref-tree-table-base{
  &-pagination-hide{
      display: none !important;
  }
  & .ref-core-error{
      padding: 0px;
  }
  & .u-table-tbody {
      //表体背景色
      background-color: #FFF;
  }

  &-row-selected{
      background: rgb(227,242,253);
  }
  &-pagination{
      text-align: center;   
  }
  &-tab{
      // height: 40px;
      margin-bottom: 10px;
      &-search-hide{
          display: none !important;
      }
      & .u-input-group{
          display: inline-block;
          vertical-align: middle;
          float: left;
      }
      
  }
  
    .u-pagination {
        display: inline-block;
        &:after{
            content: ' ';
            display: block;
            overflow: hidden;
            clear: both;
        }
    }
    //分页媒体查询
    @media (max-width: 1024px){
    .u-pagination{
        .u-pagination-list{
            flex-shrink: 0;
            margin-right: 2px;
        }
        .u-pagination-total {
            margin:0px;
        }
    }
  }
  .u-select-focused .u-select-selection,
  .u-select-selection:focus,
  .u-select-selection:active {
      border-color: #004898;
  }
}