@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.ac-navbar{
    .header {
      height: 40px;
      display: flex;
      justify-content: space-between;
      background-image: url(//design.yonyoucloud.com/static/tinper-acs/ac-navbar/bg_topbar.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
    }
    .header-show {
      display: flex;
    }
  
    .header-hide {
      display: none;
    }
    .header-left {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    /* 顶部svg对应的样式 */
    .header-left .header-svg {
      /* width: 22px; */
      display: inline-block;
      font-size: 0;
      position: relative;
      padding: 0 8px;
    }
    .header-svg-red {
      background: red;
    }
    .header-left .header-svg::after {
      content: '';
      width:1px;
      height:12px;
      background:rgba(179,186,197,1);
      position: absolute;
      right: -8px;
      top: 50%;
      transform: translateY(-50%);
    }
    /* 顶部搜索框样式 */
    .header-left .header-search {
      width:150px;
      height:26px;
      position: relative;
      display: inline-block;
      margin-left: 16px;
    }
    .header-left .header-search .u-form-control-search {
      position: absolute;
      left: 0;
      height: 26px;
      border-radius:41px;
      outline: none;
      padding-left: 12px;
      .uf:hover{
        cursor: pointer;
      }
    }
    .header-left input::-webkit-input-placeholder {
      font-size:12px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(141,141,141,1);
    }
    .header-left .header-svg {
      transition: all .7s;
      line-height: 40px;
    }
    .header-left .header-svg img:hover {
      transform: scale3d(1.3,1.3,1.3);
    }
    .header-center {
      display: flex;
      align-items: center;
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      .portal-logo{
        width: 127px;
        height: 32px;
        transition: all .2s linear;
      }
    }
    .header-right {
      display: flex;
      height: 40px;
      align-items: center;
      margin-right: 16px;
      justify-content: flex-end;
  
    }
    .header-right  a i {
      color: #1F3853;
      font-weight: 600;
    }
    .header-right i.uf {
      padding: 0 !important;
    }
    #taskCenterBox,
    #messageCount,#maxBox {
      color: #1F3853;
      z-index: 2;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 12px;
    }
    #taskCenterBox i,
    #messageCount i,#maxBox i {
      font-size: 16px !important;
      font-weight: 600;
    }
    #taskCenterBox:hover,
    #messageCount:hover,#maxBox:hover {
        background: #dde0e2!important;
    }
    #portalTabs {
      border-bottom: 1px solid #B3BAC5;
    }
    .header-right  .u-menu-horizontal {
      background: #fff !important;
      border: none;
      padding-left: 8px;
    }
    .header-right .u-menu-horizontal {
      height: 40px;
      line-height: 40px;
  
    }
    .header-right .u-menu-horizontal>.u-menu-submenu {
      border-bottom: none !important;
      /* padding: 0 8px; */
    }
    .header-right .u-menu-submenu-title {
      padding: 0 8px !important;
      height: 40px;
    }
    .header-right .u-menu-vertical>.u-menu-item {
      padding: 0 8px 0 18px !important;
    }
    .header-right .dropdown .u-menu-submenu-horizontal > .u-menu {
      /* width:150px; */
      font-size:12px;
      background:#fff;
      position: absolute;
      right: 0;
  
      /* left:-3px; */
      margin-top:0px;
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .u-badge[data-badge]:after {
      content: attr(data-badge);
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-align-items: center;
      align-items: center;
      position: absolute;
      font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      min-width: 11px;
      border-radius: 11px;
      color: rgb(255,255,255);
      box-sizing: border-box;
      top: -11px;
      left: 10px;
      padding: 0 3px;
      background: #E60012;
      font-weight: normal;
      height: 14px;
      width: auto;
      display: inline;
      line-height: 14px;
    }
    /* .header .dropdown .u-menu-submenu-horizontal > .u-menu li:hover{
      background: #f2f2f2;
    } */
    /* 处理头部右侧用户下拉的样式 */
    .header .dropdown.header-left-dropdown {
      height: 40px;
    }
    .header-right-info, .header-right-info a {
      height: 40px;
      line-height: 40px;
    }
    .header-right-info {
      position: relative;
      padding: 0 8px;
    }
    .header-right-info .dropdown-toggle {
      height: 40px;
      line-height: 40px;
    }
    .header-right-info .avatar-name{
      font-size: 14px;
      margin-right: 0;
    }
    .header-right-icon {
      margin-right: 4px;
    }
    .header-right-icon i{
      font-size: 12px;
    }
    .header-right-applet-content {
      max-width: 355px !important;
      min-width: 144px;
      position: absolute;
      z-index: 9999;
      background: #fff;
      right: 16px;
      box-shadow:0px 3px 6px 0px rgba(23,43,77,0.32);
      overflow: auto;
      display: none;
    }
    .header-right-applet-list {
      padding: 16px 12px 16px 12px;
    }
    .header-right-applet-list .header-right-applet {
      width: 96px;
      /* height: 72px; */
      /* background:rgba(236,239,241,1); */
      border-radius:3px;
      display: inline-block;
      margin: 0 4px;
      /* float: left; */
    }
    .header-right-applet-list .header-right-applet>a{
      display: block;
      height: 100%;
      padding: 8px;
    }
    .header-right-applet-list .header-right-applet>a:hover {
      background:rgba(236,239,241,1);
      border-radius: 4px;
    }
  
    .header-right-applet-icon {
      text-align: center;
    }
    .header-right-applet-icon i {
      font-size: 24px;
      color: #505F79 !important;
      font-weight: 400 !important;
    }
    .header-right-applet-text {
      font-size:12px;
      height: 36px;
      font-weight:400;
      color:rgba(33,33,33,1);
      width: 100%;
      text-align: center;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
  
    .header-right-info:hover {
      background: rgba(236,239,241,1);
    }
    .header-right-dropdown:hover .header-right-applet-content {
      display: block;
    }
    .header-right-applet-logout {
      text-align: center;
      box-shadow:0px 3px 6px 0px rgba(23,43,77,0.32);
      border-radius:3px;
      border-top: 1px solid #B3BAC5;
    }
    .header-right-applet-logout a {
      width: 100%;
      height: 32px;
      line-height: 32px;
      display: block;
      text-align: center;
      color: #F44336;
    }
    .header-right-applet-logout a i {
      color: #F44336;
    }
    /* 多租户 */
    .header-right-tenant-info {
  
    }
    .header-right-tenant-info>a {
      height: 40px;
      line-height: 40px;
    }
    .header-right-tenant-info #tenantname {
      line-height: 40px;
      height: 40px;
      display: block;
      padding: 0 8px;
      color: #1F3853;
    }
    .header-right-tenant-info span.tenant-name {
      height: 40px;
      width: auto;
      min-width: 80px;
      max-width: 100px;
    }
    .header-right-tenant-info {
      position: relative;
    }
    .header-right-tenant-info-li {
      display: none;
      position: absolute;
      z-index: 9999;
      background: #fff;
      margin-left: 4px;
      width: 100%;
      padding: 0;
      margin: 0;
      box-shadow:0px 3px 6px 0px rgba(23,43,77,0.32);
    }
    .header-right-tenant-info-li li {
      line-height: 30px;
      height: 30px;
      display: block;
      font-size: 12px;
    }
    .header-right-tenant-info-li li:hover {
      background: rgba(236,239,241,1);
    }
    .header-right-tenant-info:hover {
      background: rgba(236,239,241,1);
    }
    .header-right-tenant-info:hover .header-right-tenant-info-li{
      display: block;
    }
    .header-right-tenant-info #tenantname .icon-arrowdown {
      font-size: 16px;
    }
    .header-show-left{
      margin-left: 200px;
    }
    .header-show-left-expand {
      margin-left: 50px;
    }
    .header-left .header-svg-show {
      display: none;
    }
}