@import "../node_modules/rc-notification/assets/index.css";

// ============================================
// YS alert 类控件的样式
// ============================================
$info-color: #588CE9;
$success-color: #18B681;
$error-color: #FF5735;
$warning-color: #FFA600;
$shadow-color: rgba(0, 0, 0, .15);
// 短文本提示消息框
.uretail-message {
    position: fixed;
    z-index: 1000;
    .anticon {
        position: absolute;
        left: 6px;
    }
    .anticon-circle {
        font-size: 12px;
        color: #666;
        white-space: pre-wrap;
        margin-left: 4px;
    }
    &-notice {
        box-shadow: 0 0 10px $shadow-color;
        border-radius: 4px;
        margin: 10px 0;
    }
    &-notice-content {
        max-width: 400px;
        word-break: break-all
    }
    &-custom-content {
        position: relative;
        padding-left: 32px !important
    }
    .uf {
        font-size: 18px;
        text-align: center;
        margin-top: 2px;
        padding: 0;
    }
    &-success {
        background: #EBF8F2;
        border: #A7E1C4 solid 1px;
        border-radius: 4px;
        width: auto;
        line-height: 20px;
        color: #666;
        padding: 8px 12px;
        .uf {
            color: $success-color;
        }
    }
    &-info {
        background: #E6F0F7;
        border: #ADD8F7 solid 1px;
        border-radius: 4px;
        width: auto;
        line-height: 20px;
        color: #666;
        font-size: 12px;
        padding: 8px 12px;
        .uf {
            color: $info-color;
        }
    }
    &-error {
        background: #FEF3EB;
        border: #FCCCA7 solid 1px;
        border-radius: 4px;
        width: auto;
        line-height: 20px;
        color: #666;
        font-size: 12px;
        padding: 8px 12px;
        .uf {
            color: $error-color;
        }
    }
    &-warning {
        background: #FFFAEB;
        border: #FFE9A7 solid 1px;
        border-radius: 4px;
        width: auto;
        line-height: 20px;
        color: #666;
        font-size: 12px;
        padding: 8px 12px;
        .uf {
            color: $warning-color;
            font-size: 22px;
        }
    }
    // &-notice.uretail-message-fade-enter.uretail-message-fade-enter-active {
    //     animation-name: MessageMoveOut;
    //     animation-duration: .3s;
    // }
} 