<% if(isComponent&&isStander){ %>
    <link href="./<%= active %>/dist/demo.css" type="text/css" rel="stylesheet" />
<% } else if (isComponent&&isGhpages) { %>
    <link rel="stylesheet" href="./<%= active %>/ghpages/styles.css">
<% } %>
<div class="doc-content">
    <%- docs %>
    <div class="changelog">
        <% include changelog.html %>
    </div>
</div>

<div class="right-menus">
    <% include rightMenus.html %>
</div>



<% if(isComponent&&isStander){ %>
    <script src="./<%= active %>/dist/demo.js"></script>
<% } %>